In [110]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [111]:
url = 'https://www.spotrac.com/nfl/salaries/breakdown/'
response = requests.get(url)
print(response.status_code) # 200

200

In [112]:
soup = bs(response.content, 'html.parser')
# html_selection = 'thead:nth-child(1) .tablesorter-header-inner , .small .tablesorter-header-inner , .info , td.small , #main a , .player .tablesorter-header-inner'
# html_selection = '.small , .small .tablesorter-header-inner , .tablesorter-headerUnSorted:nth-child(7) .tablesorter-header-inner , .xs-hide+ .right .info , .xs-hide+ .tablesorter-headerUnSorted .tablesorter-header-inner , .result .info , #main a , .player .tablesorter-header-inner'
# html_selection = '#main a , .player .tablesorter-header-inner'
# html_selection = '.result .info , .tablesorter-headerUnSorted:nth-child(11) .tablesorter-header-inner , #main a , .player .tablesorter-header-inner'
players_html = soup.select(selector='td.player a')
salaries_html = soup.select(selector='table tr .xs-hide+ td.right span.cap.info')
print(len(players_html))
print(len(salaries_html))

1086
1086

In [113]:
players = [player.string for player in players_html]
salaries = [salary.string for salary in salaries_html]
print(players[:10])
print(salaries[:10])

['T.J. Watt', 'Chris Jones', 'Aaron Donald', 'Cameron Heyward', 'C.J. Mosley', 'Jonathan Allen', 'Danielle Hunter', 'Grady Jarrett', "Adoree' Jackson", 'Justin Simmons']
['$28,002,750', '$19,500,000', '$31,666,667', '$16,400,000', '$17,000,000', '$18,000,000', '$17,000,000', '$16,823,333', '$13,000,000', '$15,250,000']

In [114]:
df = pd.DataFrame({'Name': players, 'Salary': salaries})
df

                 Name       Salary
0           T.J. Watt  $28,002,750
1         Chris Jones  $19,500,000
2        Aaron Donald  $31,666,667
3     Cameron Heyward  $16,400,000
4         C.J. Mosley  $17,000,000
...               ...          ...
1081   Justin Jackson   $1,080,000
1082     Ben Ellefson   $1,010,000
1083     Sammis Reyes     $940,000
1084   Trayvon Mullen   $1,080,000
1085   Isaiah Rodgers         None

[1086 rows x 2 columns]